@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
  background-color: #ffffff;
}


h1 {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-right: 30px;
}


nav {
  padding-top: 10px;
  padding-left: 120px;
  font-family: "Open Sans", sans-serif;
  color: black;
  display: flex;
  justify-content: space-around;
  
}

.tab:hover {
  text-decoration: 3px underline;
  text-decoration-color: white;
  transition: .3s;
 
}


a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: black 
 }

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#icon {
  width: 15px;
}

#me {
  display: flex;
  align-items: center;
  width: 400px;
  filter: drop-shadow(0 0 0.7rem #ACECF7);
 
  
}


#me:hover {
  border: solid .2px white;
  transition: .3s;

}

.about-me {
  padding-inline-start: 70px;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


p {
  font-family: "Open Sans", sans-serif;
  width: 680px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  width: 680px;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  width: 680px;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

#description {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
